In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.3'

In [33]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-macosx_14_0_arm64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp313-cp313-macosx_14_0_arm64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 16.9 MB/s eta 0:00:00 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [14]:
import sqlalchemy

In [15]:
sqlalchemy.__version__

'2.0.37'

In [16]:
from sqlalchemy import create_engine

In [34]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi");

In [40]:
df = pd.read_csv("taxi_zone_lookup.csv")

In [41]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [47]:
print(pd.io.sql.get_schema(df, "taxi_zone_lookup" ))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [48]:
df.head(0).to_sql(name = "taxi_zone_lookup", con=engine)

0

In [49]:
df.to_sql(name = "taxi_zone_lookup", con=engine, if_exists="replace")

265